</body>
</html>

<footer>
    <p>&copy; 2025 LifeLink</p>
</footer>

<style>
    footer {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    bottom: 0;
    width: 100%;
}
</style>