<form action="/blood/search" method="GET" class="search-form">
    <input type="text" name="query" class="search-input" placeholder="Search..." required>
    <button type="submit" class="search-button">🔍</button>
</form>
